.root {
  display: inline-flex;
  align-items: baseline;
  column-gap: 0;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  transform-origin: center bottom;
  font-weight: 700;
  color: var(--c-black);
}
