.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  padding-top: calc(var(--header-height) + vw(48));
  padding-bottom: vw(48);
}

.item {
  --close-item: 1;

  @include captionM;

  width: fit-content;
  font-weight: 700;
  font-size: vw(32);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--c-white);
  text-decoration: none;
  opacity: calc(1 - var(--close-item));
  transform: translateY(calc(var(--close-item) * -60%));
  transition:
    transform 1s var(--ease-out-expo),
    opacity 1s var(--ease-out-expo);

  @include mq(md) {
    font-size: vw(28);
  }

  @include mq(sm) {
    font-size: vw(24);
  }
}
