.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  padding-top: calc(var(--header-height) + vw(48));
  padding-bottom: vw(48);
}

.item {
  --close-item: 1;

  width: fit-content;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--c-white);
  text-decoration: none;
  opacity: calc(1 - var(--close-item));
  transform: translateY(calc(var(--close-item) * -60%));
  transition:
    transform 1s var(--ease-out-expo),
    opacity 1s var(--ease-out-expo);
}

.auth {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  margin-top: var(--spacing-24);
  padding-top: var(--spacing-24);
  border-top: 1px solid rgb(255 255 255 / 20%);
}
