.root {
  position: relative;
  height: 300svh;
}

.content {
  position: sticky;
  z-index: var(--z-header);
  top: var(--header-height);
  height: calc(100svh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: vw(140);
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include mq(lg) {
    font-size: vw(96);
  }

  @include mq(md) {
    font-size: vw(72);
  }
}

.isFlying {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  margin: 0;
}
