.root {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
}

.stage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--c-grey-100);
}

.image {
  width: 100%;
  height: 100%;
}
